@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
%full{
    width: 100%;
    height: 100%;
}
@mixin pos($p:absolute){
    position: $p;
}
@mixin clearfix{
    zoom: 1;
    &:after{
      display: block;
      clear: both;
      content: '';
    }
}
html,body,.box{
    @extend %full;
    overflow: hidden;
    
}
//上导航
.box_header{
    margin: 0 auto;
    width: 16rem;
    height: 2.3rem;
    header{
        width: 16rem;
        height: 1.8rem;
        background: #1c1c20;
        text-align: center;
        padding-top: 0.5rem;
        @include pos(fixed);
        z-index: 999;
            .left{
                display: block;
                @include pos();
                left: 0.5rem;
                top: 0.6rem;
                @include clearfix;
                img{
                    width: calc(1rem/2);
                    height: calc(1.7rem/2);
                }
                span{
                    font-size: calc(1.5rem/2);
                    float: right;
                    margin-left: 0.3rem;
                    margin-top: 0.1rem;
                    color: #FFFFFF;
                }
            }
            .right{
                display: block;
                @include pos();
                right: 1rem;
                top: 0.3rem;
                img{
                    width: 1.3rem;
                    height: 0.3rem;
                }
            }
            label{
                font-size: calc(1.7rem/2);
                color: #FFFFFF;
            }
    }
}
//分类
.box_list{
    margin: 0 auto;
    width: 16rem;
    height: calc(6.5rem/2);
    z-index: 999;
    background: #1b1b1b;
    &>div{
        background: rgba(255,255,255,0.2);
        width: 100%;
        height: 100%;
    }
    ul{
        width: 16rem;
        @include clearfix;
        li{
            width: calc(16rem/5);
            float: left;
            text-align: center;
            &.lii{
                a:nth-child(1){
                    display: none;
                }
                a:nth-child(2){
                    display: block;
                }
            }
            a{
                display: block;
                width: 0.8rem;
                height: 0.8rem;
                margin: 0 auto;
                margin-top:calc(1.5rem/2);
                img{
                    @extend %full;
                }
            }
            a:nth-child(2){
                display: none;
            }
            span{
                font-size: 0.45rem;
                color: #c0c0c0;
                
            }
        }
    }
}





.content{
    margin: 0 auto;
    width: 16rem;
    height: 100%;
    overflow: hidden;
    background: #1b1b1b;
    @include pos(relative);
    //搜索
    .content_search{
        margin: 0 auto;
        width: 16rem;
        height: calc(4.9rem/2);
        background: rgba(255,255,255,0.2);
        @include pos();
        left: 0;
        top: 0;
        z-index: 2;
        //菜单
        .banner_remove{
            @include pos();
            top: 0.6rem;
            right: calc(2.1rem/2);
            z-index: 1;
            a{
                display: block;
                img{
                    width: calc(1.3rem/2);
                    height: calc(1.4rem/2);
                    margin-left: 0.1rem;
                }
                span{
                    
                }
            }
        }
        
        
        //搜索
        .banner_search{
            z-index: 1;
            input[type='text']{
                padding-left: calc(2.1rem/2);
                width: calc(16rem-2.1rem/2);
                height: calc(4.9rem/2); 
                border: none;
                outline: none;
                background-color:transparent;
                font-size: calc(1.3rem/2);
                color: #FFFFFF;
                z-index: 1;
            }
            input[type='image']{
                @include pos();
                right: calc(5.6rem/2);
                top: calc(1.5rem/2);
                width: calc(1.7rem/2);
                height: calc(1.7rem/2);
                outline: none;
                z-index: 1;
            }
        }
    }
    .swiper-container_banner{
        width: 16rem;
        height: 100%;
        .swiper-wrapper{
            width: 100%;
            .swiper-slide{
                width: 100%;
                background: #1b1b1b;
                //1页      
                .swiper_h2{
                    font-size: calc(1.9rem/2);
                    font-family: PingFangSC-Medium;
                    color: #F5F6F8;
                    letter-spacing: 1px;
                    text-align: center;
                    margin-top: calc(2rem/2);
                }
                ul{
                    width: 16rem;
                    li{
                        width: calc(29.6rem/2);
                        height: calc(8.5rem/2);
                        margin: 0 auto;
                        margin-top: calc(0.7rem/2);
                        border: 1px solid rgba(119,119,119,0.56);
                        border-radius: 2px;
                        a{
                            display: block;
                            width: 100%;
                            @include clearfix;
                            h4{
                                float: left;
                                text-align: center;
                                margin-top: calc(1.8rem/2);
                                img{
                                    width: calc(2rem/2);
                                    height: calc(2rem/2);
                                }
                                span{
                                    ont-family: PingFangSC-Light;
                                    font-size: calc(1rem/2);
                                    color: rgba(255,255,255,0.80);
                                    letter-spacing: 0;
                                    display: block;
                                    width: calc(6.8rem/2);
                                    font-weight: 500;
                                }
                            }
                            p{
                                float: left;
                                width: calc(21.1rem/2);
                                font-family: PingFangSC-Thin;
                                font-size: calc(1rem/2);
                                color: #F5F6F8;
                                letter-spacing: 1px;
                                line-height: calc(2rem/2);
                                margin-top: calc(1.5rem/2);
                                margin-left: calc(1.1rem/2);
                            }
                        }
                    }
                }
                
                //2页
                .background_image{
                    @extend %full;
                    @include pos(relative);
                    .background_image_h2{
                        font-size: calc(1.9rem/2);
                        color: #FFFFFF;
                        text-align: center;
                        @include pos();
                        left: calc(8.2rem/2);
                        top: calc(2rem/2);
                    }
                    .clIck{
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 2.5rem;
                        background: rgba(0,0,0,0.30);
                        border: 1px solid rgba(255,255,255,0.50);
                        @include pos();
                        left: 50%;
                        top: 50%;
                        margin-left: -1.25rem;
                        margin-top: -1.25rem;
                        #triangle-right {
                            width: 0;
                            height: 0;
                            border-top: 0.5rem solid transparent;
                            border-left: 1rem solid #FFFFFF;
                            border-bottom: 0.5rem solid transparent;
                            opacity: 0.7;
                            @include pos();
                            left: 50%;
                            top: 50%;
                            margin-left: -0.25rem;
                            margin-top: -0.5rem;
                        }
                    }
                    .clIck:hover{
                        background: rgba(255,255,255,0.30);
                    }
                }
                
                
                //3页
                .swiper-slide_width{
                    width: calc(29.6rem/2);
                    margin: calc(2rem/2) auto;
                    h2{
                        font-size: calc(1.9rem/2);
                        color: #FFFFFF;
                        text-align: center;
                        @include pos();
                        left: calc(8.2rem/2);
                        top: calc(2rem/2);
                    }
                    .swiper-slide_images{
                        width: 100%;
                        height: calc(12.9rem/2);
                        img{
                            @extend %full;
                            margin-top: calc(6rem/2);
                        }
                    }
                    p{
                        font-size: calc(1rem/2);
                        color: #FFFFFF;
                        font-family: PingFangSC-Light;
                        letter-spacing: 0;
                        line-height: 1rem;
                        &:nth-child(3){
                            margin-top: 4rem;
                        }
                        &:nth-child(4){
                            margin-top: calc(2.6rem/2);
                        }
                    }
                }
                //4页
                .background_image2{
                    @extend %full;
                    @include pos(relative);
                    img{
                        display: block;
                        width: calc(21.6rem/2);
                        height: calc(9.6rem/2);
                        @include pos();
                        left: 50%;
                        margin-left: calc(-21.6rem/4);
                        top: calc(18.7rem/2);
                    }
                }
                //5页
                .swiper-slide_logo{
                    width: calc(25.6rem/2);
                    margin: calc(7rem/2) auto;
                    padding-top: calc(2rem/2);
                    h2{
                        font-size: calc(1.9rem/2);
                        color: #FFFFFF;
                        text-align: center;
                        @include pos();
                        left: calc(8.2rem/2);
                        top: calc(2rem/2);
                    }
                    img{
                        width: 100%;
                    }
                }
                //6页
                .background_image3{
                    @extend %full;
                    @include pos(relative);
                    img{
                        display: block;
                        width: calc(21.6rem/2);
                        height: calc(9.6rem/2);
                        @include pos();
                        left: 50%;
                        margin-left: calc(-21.6rem/4);
                        top: calc(11.7rem/2);
                    }
                    p{
                        font-size: calc(1.5rem/2);
                        color: #FFFFFF;
                        font-family: PingFangTC-Regular;
                        letter-spacing: 1px;
                        width: calc(12.2rem/2);
                        height: calc(3.8rem/2);
                        background: #4283EB;
                        @include pos();
                        left: 50%;
                        margin-left: calc(-12.2rem/4);
                        bottom: calc(16.2rem/2);
                        text-align: center;
                        line-height: calc(3.8rem/2);
                    }
                }
                
                
            }
        }
    }
    .tubiao{
        img{
            width: calc(2.4rem/2);
            height: calc(1.4rem/2);
            @include pos();
            left: 50%;
            margin-left: -0.6rem;
            bottom: calc(1.2rem/2);
        }
    }
}


.content_Edit{
    width: calc(1.8rem/2);
    height: calc(1.8rem/2);
    @include pos();
    right: calc(1.9rem/2);
    bottom: calc(1.2rem/2);
    z-index: 999;
    img{
        @extend %full;
    }
}
