* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

html, body, .box, .box_list ul li#box_list_search a img, .box_list ul li a img, #gong .menu span, #gong .menu span img, #gong .Catalog ul li a, #gong .Return a, #gong .Return a img, #gong .add span, #gong .add span img {
  width: 100%;
  height: 100%; }

.box_header {
  margin: 0 auto;
  width: 16rem;
  height: 2.3rem; }
  .box_header header {
    width: 16rem;
    height: 2.3rem;
    overflow: hidden;
    box-sizing: border-box;
    background: #1c1c20;
    text-align: center;
    position: fixed;
    z-index: 999;
    zoom: 1;
    padding-top: 0.6rem;
    padding-left: 0.55rem; }
    .box_header header:after {
      display: block;
      clear: both;
      content: ''; }
    .box_header header .left {
      float: left;
      zoom: 1; }
      .box_header header .left:after {
        display: block;
        clear: both;
        content: ''; }
      .box_header header .left img {
        width: calc(0.8rem/2);
        height: calc(1.6rem/2);
        float: left;
        margin-top: 0.1rem; }
      .box_header header .left span {
        font-size: calc(1.5rem/2);
        float: left;
        color: #FFFFFF;
        margin-left: 0.3rem; }
    .box_header header label {
      font-size: calc(1.5rem/2);
      color: #FFFFFF;
      float: left;
      margin-left: 2.6rem; }

.box_list {
  margin: 0 auto;
  width: 16rem;
  height: calc(6.5rem/2);
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  top: 2.3rem;
  z-index: 999;
  background: #FFFFFF; }
  .box_list ul {
    width: 16rem;
    display: flex; }
    .box_list ul li {
      -webkit-flex-grow: 1;
      text-align: center; }
      .box_list ul li#box_list_search a {
        width: 0.9rem;
        height: 0.8rem; }
      .box_list ul li a {
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        margin: 0 auto;
        margin-top: calc(1.5rem/2); }
      .box_list ul li span {
        font-size: 0.45rem;
        color: #c0c0c0; }

.content_search {
  width: 16rem;
  height: calc(4.9rem/2);
  background: #F5F6F8;
  z-index: 99999;
  position: relative;
  left: 50%;
  margin-left: -8rem;
  top: 3.28rem; }
  .content_search .banner_remove {
    position: absolute;
    top: 0.6rem;
    right: calc(2.1rem/2);
    z-index: 1; }
    .content_search .banner_remove a {
      display: block;
      zoom: 1;
      margin-top: 0.3rem;
      margin-right: 0.1rem; }
      .content_search .banner_remove a:after {
        display: block;
        clear: both;
        content: ''; }
      .content_search .banner_remove a img {
        width: calc(1rem/2);
        height: calc(1rem/2);
        margin-left: 0.5rem;
        float: left;
        margin-top: 0.15rem; }
      .content_search .banner_remove a span {
        font-size: 0.5rem;
        float: left; }
  .content_search .banner_search {
    z-index: 1; }
    .content_search .banner_search input[type='text'] {
      padding-left: calc(2.1rem/2);
      width: calc(16rem-2.1rem/2);
      height: calc(4.9rem/2);
      border: none;
      outline: none;
      background-color: transparent;
      font-size: calc(1.2rem/2);
      color: #777777;
      z-index: 1; }
    .content_search .banner_search input[type='image'] {
      position: absolute;
      right: calc(5.6rem/2);
      top: calc(2rem/2);
      width: calc(1.2rem/2);
      height: calc(1.2rem/2);
      outline: none;
      z-index: 1; }

.content_search {
  width: 16rem;
  height: calc(4.9rem/2);
  background: #F5F6F8;
  z-index: 99999;
  position: relative;
  left: 50%;
  margin-left: -8rem;
  top: 3.28rem; }
  .content_search .banner_remove {
    position: absolute;
    top: 0.6rem;
    right: calc(2.1rem/2);
    z-index: 1; }
    .content_search .banner_remove a {
      display: block;
      zoom: 1;
      margin-top: 0.3rem;
      margin-right: 0.1rem; }
      .content_search .banner_remove a:after {
        display: block;
        clear: both;
        content: ''; }
      .content_search .banner_remove a img {
        width: calc(1rem/2);
        height: calc(1rem/2);
        margin-left: 0.5rem;
        float: left;
        margin-top: 0.15rem; }
      .content_search .banner_remove a span {
        font-size: 0.5rem;
        float: left; }
  .content_search .banner_search {
    z-index: 1; }
    .content_search .banner_search input[type='text'] {
      padding-left: calc(2.1rem/2);
      width: calc(16rem-2.1rem/2);
      height: calc(4.9rem/2);
      border: none;
      outline: none;
      background-color: transparent;
      font-size: calc(1.2rem/2);
      color: #777777;
      z-index: 1; }
    .content_search .banner_search input[type='image'] {
      position: absolute;
      right: calc(5.6rem/2);
      top: calc(2rem/2);
      width: calc(1.2rem/2);
      height: calc(1.2rem/2);
      outline: none;
      z-index: 1; }

.content {
  margin: 0 auto;
  width: 16rem;
  background: #f5f6f8;
  position: relative;
  overflow: hidden;
  margin-top: 3.28rem; }
  .content .banner {
    width: 16rem; }
    .content .banner img {
      width: 100%; }
  .content .forma_duce {
    width: 16rem;
    zoom: 1; }
    .content .forma_duce:after {
      display: block;
      clear: both;
      content: ''; }
    .content .forma_duce > div:nth-child(1) {
      margin-left: 0.55rem;
      margin-top: 0.5rem; }
      .content .forma_duce > div:nth-child(1) h3 {
        width: 16rem; }
        .content .forma_duce > div:nth-child(1) h3 ul {
          width: 16rem;
          zoom: 1; }
          .content .forma_duce > div:nth-child(1) h3 ul:after {
            display: block;
            clear: both;
            content: ''; }
          .content .forma_duce > div:nth-child(1) h3 ul li {
            font-size: 0.8rem;
            color: #1B1B1B;
            font-weight: 500; }
            .content .forma_duce > div:nth-child(1) h3 ul li:nth-child(1) {
              float: left; }
            .content .forma_duce > div:nth-child(1) h3 ul li:nth-child(2) {
              float: right; }
            .content .forma_duce > div:nth-child(1) h3 ul li div {
              zoom: 1;
              margin-right: 0.6rem;
              padding-top: 0.2rem; }
              .content .forma_duce > div:nth-child(1) h3 ul li div:after {
                display: block;
                clear: both;
                content: ''; }
              .content .forma_duce > div:nth-child(1) h3 ul li div a {
                display: block;
                float: left;
                zoom: 1;
                position: relative; }
                .content .forma_duce > div:nth-child(1) h3 ul li div a:after {
                  display: block;
                  clear: both;
                  content: ''; }
                .content .forma_duce > div:nth-child(1) h3 ul li div a:nth-child(2) {
                  margin-left: 1rem; }
                .content .forma_duce > div:nth-child(1) h3 ul li div a img {
                  width: 0.8rem;
                  height: 0.75rem;
                  float: left;
                  margin-right: 0.2rem; }
                .content .forma_duce > div:nth-child(1) h3 ul li div a span {
                  font-size: 0.5rem;
                  color: #333333;
                  float: left;
                  margin-right: 0.5rem; }
                .content .forma_duce > div:nth-child(1) h3 ul li div a:nth-child(1) {
                  margin-right: 0.5rem; }
      .content .forma_duce > div:nth-child(1) div {
        zoom: 1; }
        .content .forma_duce > div:nth-child(1) div:after {
          display: block;
          clear: both;
          content: ''; }
        .content .forma_duce > div:nth-child(1) div p {
          float: left;
          font-family: PingFangSC-Light;
          font-size: 0.5rem;
          color: #777777;
          letter-spacing: 0;
          margin-top: 0.3rem;
          font-family: PingFangSC-Light;
          letter-spacing: 1px; }
          .content .forma_duce > div:nth-child(1) div p a {
            font-size: 0.5rem;
            color: #4283EB;
            letter-spacing: 0;
            font-family: PingFangSC-Light;
            letter-spacing: 1px; }
          .content .forma_duce > div:nth-child(1) div p:nth-child(2) {
            font-family: PingFangSC-Light;
            font-size: 0.5rem;
            color: #777777;
            letter-spacing: 1px;
            padding: 0 1rem 0 1rem; }
        .content .forma_duce > div:nth-child(1) div ul {
          float: left;
          zoom: 1;
          margin-left: 1rem;
          width: 10rem; }
          .content .forma_duce > div:nth-child(1) div ul:after {
            display: block;
            clear: both;
            content: ''; }
          .content .forma_duce > div:nth-child(1) div ul li {
            float: left;
            font-size: 0.5rem;
            color: #777777;
            letter-spacing: 0;
            margin-top: 0.3rem;
            font-family: PingFangSC-Light;
            letter-spacing: 1px;
            text-align: left;
            border-left: 1px solid;
            padding-left: 0.2rem;
            padding-right: 0.2rem; }
            .content .forma_duce > div:nth-child(1) div ul li:nth-child(1) {
              border: none;
              padding-left: 0; }
  .content .inherit {
    width: 16rem;
    padding-top: 1.25rem; }
    .content .inherit .inherit_content {
      width: calc(29.5rem/2);
      height: calc(15.4rem/2);
      background: #FFFFFF;
      margin: 0 auto;
      padding-top: 1.1rem;
      padding-bottom: 1rem;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0.25rem;
      position: relative;
      overflow: hidden; }
      .content .inherit .inherit_content h4 {
        font-size: 0.65rem;
        font-family: PingFangSC-Medium;
        color: #333333;
        letter-spacing: 1px;
        font-weight: bold;
        margin-left: 0.9rem; }
      .content .inherit .inherit_content ul {
        width: 90%;
        margin-left: 0.9rem; }
        .content .inherit .inherit_content ul li {
          width: 90%;
          zoom: 1;
          line-height: 1rem;
          margin-top: 1.5rem; }
          .content .inherit .inherit_content ul li:after {
            display: block;
            clear: both;
            content: ''; }
          .content .inherit .inherit_content ul li > div {
            float: left; }
            .content .inherit .inherit_content ul li > div img {
              width: 100%; }
            .content .inherit .inherit_content ul li > div p {
              font-size: 0.5rem;
              font-family: PingFangTC-Light;
              color: #777777;
              letter-spacing: 0; }
              .content .inherit .inherit_content ul li > div p:nth-child(1) {
                font-size: 0.6rem;
                font-family: PingFangTC-Regular;
                color: #1B1B1B;
                letter-spacing: 0;
                font-weight: 600; }
            .content .inherit .inherit_content ul li > div:nth-child(1) {
              border-radius: 50%;
              overflow: hidden;
              width: calc(3.5rem/2); }
            .content .inherit .inherit_content ul li > div:nth-child(2) {
              margin-left: 0.65rem; }
      .content .inherit .inherit_content .Load_la {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        left: 0;
        bottom: 0.5rem; }
        .content .inherit .inherit_content .Load_la img {
          display: none;
          width: 1rem;
          height: 0.5rem;
          margin-left: 12rem;
          margin-top: 0.5rem; }
          .content .inherit .inherit_content .Load_la img.shOp {
            display: block; }
    .content .inherit .inherit_content2 {
      width: calc(29.5rem/2);
      background: #FFFFFF;
      margin: 0 auto;
      margin-top: 0.65rem;
      padding-bottom: 0.5rem; }
      .content .inherit .inherit_content2 h4 {
        zoom: 1;
        padding-left: calc(1.7rem/2);
        padding-top: calc(1.9rem/2); }
        .content .inherit .inherit_content2 h4:after {
          display: block;
          clear: both;
          content: ''; }
        .content .inherit .inherit_content2 h4 span {
          font-family: PingFangSC-Medium;
          font-size: 0.65rem;
          color: #333333;
          letter-spacing: 1px;
          font-weight: bold;
          float: left; }
        .content .inherit .inherit_content2 h4 img {
          width: 0.9rem;
          height: 0.9rem;
          float: left;
          margin-top: -0.1rem;
          margin-left: 0.2rem; }
      .content .inherit .inherit_content2 p {
        margin-left: calc(1.7rem/2);
        line-height: 1rem; }
        .content .inherit .inherit_content2 p:nth-child(2) {
          margin-top: 0.5rem; }
        .content .inherit .inherit_content2 p span:nth-child(1) {
          font-family: PingFangTC-Light;
          font-size: 0.6rem;
          color: #777777;
          letter-spacing: 0; }
        .content .inherit .inherit_content2 p span:nth-child(2) {
          font-family: PingFangTC-Regular;
          font-size: 0.6rem;
          font-weight: bold;
          color: #1B1B1B;
          letter-spacing: 1px; }
        .content .inherit .inherit_content2 p span:nth-child(3) {
          font-family: PingFangTC-Light;
          font-size: 0.6rem;
          color: #777777;
          letter-spacing: 0; }
        .content .inherit .inherit_content2 p span:nth-child(4) {
          font-family: PingFangTC-Regular;
          font-size: 0.6rem;
          font-weight: bold;
          color: #1B1B1B;
          letter-spacing: 1px; }
  .content .content_box {
    width: 16rem;
    background: #FFFFFF;
    margin-top: 1rem; }
    .content .content_box .inFormation {
      width: 16rem; }
      .content .content_box .inFormation h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 1.25rem 0 0.5rem 0.65rem; }
        .content .content_box .inFormation h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation p {
        zoom: 1;
        margin-top: 0.5rem; }
        .content .content_box .inFormation p:after {
          display: block;
          clear: both;
          content: ''; }
        .content .content_box .inFormation p span:nth-child(1) {
          float: left;
          font-size: 0.6rem;
          font-family: PingFangSC-Light;
          color: #777777;
          letter-spacing: 0;
          margin-left: 0.65rem;
          display: block; }
        .content .content_box .inFormation p span:nth-child(2) {
          float: left;
          font-size: 0.6rem;
          font-family: PingFangSC-Regular;
          color: #000000;
          letter-spacing: 0;
          display: block;
          margin-left: 0.8rem;
          width: 10rem; }
    .content .content_box .inFormation2 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation2:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation2 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0.5rem 0.65rem; }
        .content .content_box .inFormation2 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation2 .inFormation2_num {
        width: 16rem;
        position: relative; }
        .content .content_box .inFormation2 .inFormation2_num ul {
          width: 16rem; }
          .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide {
            width: 16rem;
            display: none; }
            .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide:first-of-type {
              display: block; }
            .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide li {
              width: 16rem; }
              .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide li .viDeo2 {
                width: 16rem;
                margin-top: 0.6rem;
                position: relative; }
                .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide li .viDeo2 .clIck2 {
                  width: 2.5rem;
                  height: 2.5rem;
                  border-radius: 2.5rem;
                  background: rgba(0, 0, 0, 0.3);
                  border: 1px solid rgba(255, 255, 255, 0.5);
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin-left: -1.25rem;
                  margin-top: -1.25rem; }
                  .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide li .viDeo2 .clIck2 .triangle-right2 {
                    width: 0;
                    height: 0;
                    border-top: 0.5rem solid transparent;
                    border-left: 1rem solid #FFFFFF;
                    border-bottom: 0.5rem solid transparent;
                    opacity: 0.7;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -0.25rem;
                    margin-top: -0.5rem; }
                .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide li .viDeo2 .clIck2:hover {
                  background: rgba(255, 255, 255, 0.3); }
              .content .content_box .inFormation2 .inFormation2_num ul .swiper-slide li img {
                width: 100%; }
        .content .content_box .inFormation2 .inFormation2_num .show_num {
          zoom: 1;
          padding-bottom: 0.75rem;
          position: absolute;
          bottom: 0;
          right: 0; }
          .content .content_box .inFormation2 .inFormation2_num .show_num:after {
            display: block;
            clear: both;
            content: ''; }
          .content .content_box .inFormation2 .inFormation2_num .show_num span {
            font-family: 'PingFangSC-Light';
            font-size: 0.8rem;
            color: #FFFFFF;
            letter-spacing: 0;
            float: right;
            margin-top: 0.2rem;
            margin-left: 0.3rem;
            margin-right: 0.6rem; }
          .content .content_box .inFormation2 .inFormation2_num .show_num img {
            width: calc(1.9rem/2);
            height: calc(1.7rem/2);
            float: right;
            margin-top: 0.2rem; }
      .content .content_box .inFormation2 .For_h {
        display: none;
        font-family: PingFangSC-Light;
        font-size: 0.5rem;
        color: #777777;
        letter-spacing: 0;
        text-align: center;
        padding: 0.6rem 0 1rem 0; }
        .content .content_box .inFormation2 .For_h:first-of-type {
          display: block; }
      .content .content_box .inFormation2 .For_content2 {
        word-wrap: break-word;
        width: 15rem;
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem; }
    .content .content_box .inFormation3 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation3:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation3 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0 0.65rem; }
        .content .content_box .inFormation3 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation3 .picTure {
        width: 16rem;
        margin-top: 0.65rem;
        position: relative; }
        .content .content_box .inFormation3 .picTure ul {
          width: 16rem;
          zoom: 1; }
          .content .content_box .inFormation3 .picTure ul:after {
            display: block;
            clear: both;
            content: ''; }
          .content .content_box .inFormation3 .picTure ul .swiper-slide {
            display: none;
            float: left;
            overflow: hidden; }
            .content .content_box .inFormation3 .picTure ul .swiper-slide:nth-child(1) {
              display: block;
              width: calc(21.2rem/2);
              height: calc(19.8rem/2); }
            .content .content_box .inFormation3 .picTure ul .swiper-slide:nth-child(2) {
              display: block;
              width: calc(10.6rem/2);
              height: calc(9.8rem/2);
              float: right; }
            .content .content_box .inFormation3 .picTure ul .swiper-slide:nth-child(3) {
              display: block;
              float: right;
              width: calc(10.6rem/2);
              height: calc(9.75rem/2);
              margin-top: calc(0.2rem/2); }
            .content .content_box .inFormation3 .picTure ul .swiper-slide li {
              width: 100%;
              height: 100%; }
              .content .content_box .inFormation3 .picTure ul .swiper-slide li img {
                width: 100%; }
        .content .content_box .inFormation3 .picTure .More_num {
          font-family: PingFangSC-Regular;
          font-size: 0.7rem;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: center;
          line-height: calc(9.8rem/2);
          display: block;
          width: calc(10.6rem/2);
          height: calc(9.8rem/2);
          position: absolute;
          left: 10.7rem;
          top: 5rem;
          background: rgba(0, 0, 0, 0.38); }
          .content .content_box .inFormation3 .picTure .More_num b {
            font-weight: 500; }
      .content .content_box .inFormation3 .For_content3 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem; }
    .content .content_box .inFormation4 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation4:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation4 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0 0.65rem; }
        .content .content_box .inFormation4 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation4 .banner_image {
        width: 16rem;
        position: relative; }
        .content .content_box .inFormation4 .banner_image ul {
          width: 16rem; }
          .content .content_box .inFormation4 .banner_image ul .swiper-slide {
            width: 16rem;
            display: none; }
            .content .content_box .inFormation4 .banner_image ul .swiper-slide:first-of-type {
              display: block; }
            .content .content_box .inFormation4 .banner_image ul .swiper-slide li {
              width: 16rem; }
              .content .content_box .inFormation4 .banner_image ul .swiper-slide li .viDeo2 {
                width: 16rem;
                margin-top: 0.6rem;
                position: relative; }
                .content .content_box .inFormation4 .banner_image ul .swiper-slide li .viDeo2 .clIck2 {
                  width: 2.5rem;
                  height: 2.5rem;
                  border-radius: 2.5rem;
                  background: rgba(0, 0, 0, 0.3);
                  border: 1px solid rgba(255, 255, 255, 0.5);
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin-left: -1.25rem;
                  margin-top: -1.25rem; }
                  .content .content_box .inFormation4 .banner_image ul .swiper-slide li .viDeo2 .clIck2 .triangle-right2 {
                    width: 0;
                    height: 0;
                    border-top: 0.5rem solid transparent;
                    border-left: 1rem solid #FFFFFF;
                    border-bottom: 0.5rem solid transparent;
                    opacity: 0.7;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -0.25rem;
                    margin-top: -0.5rem; }
                .content .content_box .inFormation4 .banner_image ul .swiper-slide li .viDeo2 .clIck2:hover {
                  background: rgba(255, 255, 255, 0.3); }
              .content .content_box .inFormation4 .banner_image ul .swiper-slide li img {
                width: 100%; }
      .content .content_box .inFormation4 .show_num {
        zoom: 1;
        padding-bottom: 0.75rem;
        position: absolute;
        bottom: 0;
        right: 0; }
        .content .content_box .inFormation4 .show_num:after {
          display: block;
          clear: both;
          content: ''; }
        .content .content_box .inFormation4 .show_num span {
          font-family: 'PingFangSC-Light';
          font-size: 0.8rem;
          color: #FFFFFF;
          letter-spacing: 0;
          float: right;
          margin-top: 0.2rem;
          margin-left: 0.3rem;
          margin-right: 0.6rem; }
        .content .content_box .inFormation4 .show_num img {
          width: calc(1.9rem/2);
          height: calc(1.7rem/2);
          float: right;
          margin-top: 0.2rem; }
      .content .content_box .inFormation4 .For_h2 {
        font-family: PingFangSC-Light;
        font-size: 0.5rem;
        color: #777777;
        letter-spacing: 0;
        text-align: center;
        padding: 0.6rem 0 1rem 0;
        display: none; }
        .content .content_box .inFormation4 .For_h2:first-of-type {
          display: block; }
      .content .content_box .inFormation4 .For_content4 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem;
        line-height: 0.9rem; }
    .content .content_box .inFormation5 {
      width: 16rem;
      zoom: 1;
      margin-top: 1.5rem; }
      .content .content_box .inFormation5:after {
        display: block;
        clear: both;
        content: ''; }
      .content .content_box .inFormation5 h3 {
        font-size: 0.7rem;
        font-family: PingFangSC-Medium;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.7rem 0 0 0.65rem; }
        .content .content_box .inFormation5 h3 span {
          display: block;
          font-weight: bold;
          color: #4283EA;
          margin-top: -0.5rem;
          margin-left: 0.2rem; }
      .content .content_box .inFormation5 .For_content_5 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem;
        line-height: 0.9rem; }
      .content .content_box .inFormation5 .For_content5 {
        font-family: PingFangSC-Light;
        font-size: 0.6rem;
        color: #1B1B1B;
        letter-spacing: 1px;
        padding: 0.65rem;
        line-height: 0.9rem; }

#gong .menu {
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: 50%;
  margin-right: calc(-28.6rem/4);
  bottom: calc(2.8rem/2); }
  #gong .menu span {
    display: block; }
#gong .Catalog {
  width: calc(25rem/2);
  height: 100%;
  background: #f5f6f8;
  position: fixed;
  right: 50%;
  margin-right: calc(-82rem/4);
  top: 2.3rem;
  z-index: 10; }
  #gong .Catalog h4 {
    font-size: calc(1.5rem/2);
    color: #1B1B1B;
    padding: 0.9rem 0.75rem; }
  #gong .Catalog ul {
    width: 100%; }
    #gong .Catalog ul li {
      width: 100%;
      height: 2rem;
      padding-left: 0.75rem; }
      #gong .Catalog ul li.li1 {
        background: #FFFFFF; }
        #gong .Catalog ul li.li1 a {
          color: #4283EB; }
      #gong .Catalog ul li a {
        line-height: 2rem;
        display: block;
        font-size: 0.6rem;
        color: #000000; }
#gong .Return {
  display: none;
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: 50%;
  margin-right: calc(-28.6rem/4);
  bottom: calc(2.7rem/2); }
  #gong .Return a {
    display: block; }
#gong .add {
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: 50%;
  margin-right: calc(-28.6rem/4);
  bottom: calc(5.7rem/2); }
  #gong .add span {
    display: block; }
#gong .cover {
  display: none;
  width: 16rem;
  height: 50rem;
  opacity: 0.56;
  background: #1B1B1B;
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  top: 0;
  z-index: 1; }
#gong .name_list {
  width: 16rem;
  height: 100%;
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  top: 5.6rem;
  background: rgba(0, 0, 0, 0.86);
  z-index: 900;
  display: none;
  overflow: scroll; }
  #gong .name_list ul {
    width: 100%;
    zoom: 1;
    overflow: hidden; }
    #gong .name_list ul:after {
      display: block;
      clear: both;
      content: ''; }
    #gong .name_list ul li {
      float: left;
      margin-left: calc(3rem/2);
      margin-top: 0.8rem; }
      #gong .name_list ul li a {
        font-size: calc(1.1rem/2);
        color: rgba(255, 255, 255, 0.6); }
        #gong .name_list ul li a.blue_fef {
          color: #6c9fef; }
      #gong .name_list ul li:nth-child(1) {
        width: 16rem;
        margin-top: calc(1.6rem/2); }
        #gong .name_list ul li:nth-child(1) a {
          color: #FFFFFF; }
      #gong .name_list ul li:nth-child(6) {
        width: 16rem; }
        #gong .name_list ul li:nth-child(6) a {
          color: #FFFFFF; }
      #gong .name_list ul li:nth-child(14) {
        width: 16rem; }
        #gong .name_list ul li:nth-child(14) a {
          color: #FFFFFF; }
      #gong .name_list ul li:nth-child(20) {
        width: 16rem; }
        #gong .name_list ul li:nth-child(20) a {
          color: #FFFFFF; }
      #gong .name_list ul li:nth-child(32) {
        width: 16rem; }
        #gong .name_list ul li:nth-child(32) a {
          color: #FFFFFF; }
    #gong .name_list ul p {
      float: left;
      height: 9rem; }

.Mosaic {
  width: calc(25rem/2);
  height: 100%;
  background: #FFFFFF;
  position: fixed;
  right: 50%;
  margin-right: calc(-82rem/4);
  top: 2.3rem;
  z-index: 9999; }

.box_layer {
  width: 16rem;
  height: 100%;
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  top: 0;
  background: #333333; }
  .box_layer button {
    position: absolute;
    left: 14rem;
    top: 3rem;
    z-index: 999;
    outline: none;
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 0.5rem; }
  .box_layer .box_layer_content {
    width: 16rem;
    height: 90%;
    background: #333333;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    .box_layer .box_layer_content .swiper-banner-Lu-back {
      width: 16rem;
      position: absolute;
      left: 0;
      top: calc(10.5rem/2); }
      .box_layer .box_layer_content .swiper-banner-Lu-back .swiper-wrapper {
        width: 100%; }
        .box_layer .box_layer_content .swiper-banner-Lu-back .swiper-wrapper li {
          width: 100%; }
          .box_layer .box_layer_content .swiper-banner-Lu-back .swiper-wrapper li img {
            width: 100%; }
          .box_layer .box_layer_content .swiper-banner-Lu-back .swiper-wrapper li .viDeo2 {
            width: 16rem;
            margin-top: 0.6rem;
            position: relative; }
            .box_layer .box_layer_content .swiper-banner-Lu-back .swiper-wrapper li .viDeo2 .clIck2 {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 2.5rem;
              background: rgba(0, 0, 0, 0.3);
              border: 1px solid rgba(255, 255, 255, 0.5);
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -1.25rem;
              margin-top: -1.25rem; }
              .box_layer .box_layer_content .swiper-banner-Lu-back .swiper-wrapper li .viDeo2 .clIck2 .triangle-right2 {
                width: 0;
                height: 0;
                border-top: 0.5rem solid transparent;
                border-left: 1rem solid #FFFFFF;
                border-bottom: 0.5rem solid transparent;
                opacity: 0.7;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -0.25rem;
                margin-top: -0.5rem; }
            .box_layer .box_layer_content .swiper-banner-Lu-back .swiper-wrapper li .viDeo2 .clIck2:hover {
              background: rgba(255, 255, 255, 0.3); }
  .box_layer .back_Slide {
    width: 16rem;
    height: calc(7.8rem/2);
    background: #1c1c20;
    position: absolute;
    left: 50%;
    margin-left: calc(-16rem/2);
    bottom: 0; }
    .box_layer .back_Slide .banner {
      width: calc(27.5rem/2);
      height: calc(6.3rem/2);
      margin: 0.6rem auto;
      overflow: hidden; }
      .box_layer .back_Slide .banner .swiper-banner-Lu {
        width: 100%; }
        .box_layer .back_Slide .banner .swiper-banner-Lu .swiper-wrapper {
          width: 100%; }
          .box_layer .back_Slide .banner .swiper-banner-Lu .swiper-wrapper .swiper-slide {
            width: calc(6.4rem/2);
            height: calc(5.9rem/2); }
            .box_layer .back_Slide .banner .swiper-banner-Lu .swiper-wrapper .swiper-slide li {
              width: 100%;
              height: 100%;
              overflow: hidden; }
              .box_layer .back_Slide .banner .swiper-banner-Lu .swiper-wrapper .swiper-slide li img {
                width: 100%; }
              .box_layer .back_Slide .banner .swiper-banner-Lu .swiper-wrapper .swiper-slide li .viDeo2 {
                width: 100%;
                position: relative; }
                .box_layer .back_Slide .banner .swiper-banner-Lu .swiper-wrapper .swiper-slide li .viDeo2 .clIck2 {
                  width: 1rem;
                  height: 1rem;
                  border-radius: 1rem;
                  background: rgba(0, 0, 0, 0.3);
                  border: 1px solid rgba(255, 255, 255, 0.5);
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin-left: -0.5rem;
                  margin-top: -0.5rem; }
                  .box_layer .back_Slide .banner .swiper-banner-Lu .swiper-wrapper .swiper-slide li .viDeo2 .clIck2 .triangle-right2 {
                    width: 0;
                    height: 0;
                    border-top: 0.2rem solid transparent;
                    border-left: 0.4rem solid #FFFFFF;
                    border-bottom: 0.2rem solid transparent;
                    opacity: 0.7;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -0.1rem;
                    margin-top: -0.2rem; }

.box_layer_tow {
  width: 16rem;
  height: 100%;
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  top: 0;
  z-index: 50;
  background: #333333; }
  .box_layer_tow span {
    display: block;
    text-align: right;
    font-size: 0.5rem;
    color: #FFFFFF;
    margin-top: 3rem;
    margin-right: 1rem; }
  .box_layer_tow #box_layer_tow {
    width: 100%;
    height: 100%;
    margin-top: 2rem; }
    .box_layer_tow #box_layer_tow li {
      width: 100%; }
      .box_layer_tow #box_layer_tow li img {
        width: 100%; }
      .box_layer_tow #box_layer_tow li .viDeo2 {
        width: 100%;
        margin-top: 0.6rem;
        position: relative; }
        .box_layer_tow #box_layer_tow li .viDeo2 .clIck2 {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 2.5rem;
          background: rgba(0, 0, 0, 0.3);
          border: 1px solid rgba(255, 255, 255, 0.5);
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -1.25rem;
          margin-top: -1.25rem; }
          .box_layer_tow #box_layer_tow li .viDeo2 .clIck2 .triangle-right2 {
            width: 0;
            height: 0;
            border-top: 0.5rem solid transparent;
            border-left: 1rem solid #FFFFFF;
            border-bottom: 0.5rem solid transparent;
            opacity: 0.7;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -0.25rem;
            margin-top: -0.5rem; }
        .box_layer_tow #box_layer_tow li .viDeo2 .clIck2:hover {
          background: rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=project.css.map */
