* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

html, body, .box, .box_list ul li a img, .content .box_search .search a img, .content .box_search .search_content ul li a, #gong .menu a, #gong .menu a img, #gong .Catalog ul li a, #gong .Return a, #gong .Return a img, #gong .add a, #gong .add a img {
  width: 100%;
  height: 100%; }

.box_header {
  width: 16rem;
  height: 2.3rem; }
  .box_header header {
    width: 16rem;
    height: 1.8rem;
    background: #1c1c20;
    text-align: center;
    padding-top: 0.5rem;
    position: fixed;
    z-index: 999; }
    .box_header header .left {
      display: block;
      position: absolute;
      left: 0.5rem;
      top: 0.6rem;
      zoom: 1; }
      .box_header header .left:after {
        display: block;
        clear: both;
        content: ''; }
      .box_header header .left img {
        width: calc(1rem/2);
        height: calc(1.7rem/2); }
      .box_header header .left span {
        font-size: calc(1.5rem/2);
        float: right;
        margin-left: 0.3rem;
        margin-top: 0.1rem;
        color: #FFFFFF; }
    .box_header header .right {
      display: block;
      position: absolute;
      right: 1rem;
      top: 0.3rem; }
      .box_header header .right img {
        width: 1.3rem;
        height: 0.3rem; }
    .box_header header label {
      font-size: calc(1.7rem/2);
      color: #FFFFFF; }

.box_list {
  width: 16rem;
  height: calc(6.5rem/2);
  z-index: 999; }
  .box_list ul {
    width: 16rem;
    zoom: 1; }
    .box_list ul:after {
      display: block;
      clear: both;
      content: ''; }
    .box_list ul li {
      width: calc(16rem/5);
      float: left;
      text-align: center; }
      .box_list ul li.lii a:nth-child(1) {
        display: none; }
      .box_list ul li.lii a:nth-child(2) {
        display: block; }
      .box_list ul li a {
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        margin: 0 auto;
        margin-top: calc(1.5rem/2); }
      .box_list ul li a:nth-child(2) {
        display: none; }
      .box_list ul li span {
        font-size: 0.45rem;
        color: #c0c0c0; }

.content {
  width: 16rem; }
  .content .content_search {
    width: 16rem;
    height: calc(4.9rem/2);
    background: rgba(245, 246, 248, 0.2);
    position: fixed;
    left: 0;
    top: 5.55rem;
    z-index: 2; }
    .content .content_search .banner_remove {
      position: absolute;
      top: 0.6rem;
      right: calc(2.1rem/2);
      z-index: 1; }
      .content .content_search .banner_remove a {
        display: block; }
        .content .content_search .banner_remove a img {
          width: calc(1.3rem/2);
          height: calc(1.4rem/2);
          margin-left: 0.1rem; }
    .content .content_search .banner_search {
      z-index: 1; }
      .content .content_search .banner_search input[type='text'] {
        padding-left: calc(2.1rem/2);
        width: calc(16rem-2.1rem/2);
        height: calc(4.9rem/2);
        border: none;
        outline: none;
        background-color: transparent;
        font-size: calc(1.3rem/2);
        color: #FFFFFF;
        z-index: 1; }
      .content .content_search .banner_search input[type='image'] {
        position: absolute;
        right: calc(5.6rem/2);
        top: calc(1.5rem/2);
        width: calc(1.7rem/2);
        height: calc(1.7rem/2);
        outline: none;
        z-index: 1; }
  .content .box_search {
    width: 16rem;
    z-index: 999; }
    .content .box_search .search {
      width: 16rem;
      position: relative;
      zoom: 1; }
      .content .box_search .search:after {
        display: block;
        clear: both;
        content: ''; }
      .content .box_search .search a {
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        float: left;
        margin-left: 0.65rem;
        margin-top: 0.75rem; }
      .content .box_search .search input[type='text'] {
        width: calc(26rem/2);
        height: 2rem;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 2px solid #727272;
        font-size: 1rem;
        color: #000000;
        float: left;
        margin-left: 1rem;
        margin-top: 0.45rem; }
      .content .box_search .search input[type='image'] {
        position: absolute;
        bottom: 0.5rem;
        right: 0.65rem;
        width: 0.9rem;
        height: 0.9rem;
        outline: none; }
    .content .box_search .search_content {
      width: 16rem;
      background-color: #f5f6f8;
      padding-top: 0.25rem;
      margin-top: 0.6rem; }
      .content .box_search .search_content ul {
        width: 16rem; }
        .content .box_search .search_content ul li {
          width: 16rem;
          height: 2rem;
          overflow: hidden; }
          .content .box_search .search_content ul li a {
            display: block;
            font-size: 0.6rem;
            color: #1B1B1B;
            line-height: 2rem;
            padding-left: 0.9rem; }
    .content .box_search .sou_content {
      width: 16rem;
      height: 100%;
      display: none; }
      .content .box_search .sou_content ul {
        width: 16rem;
        padding-top: 1rem; }
        .content .box_search .sou_content ul li {
          width: 16rem;
          height: calc(30rem/2); }
          .content .box_search .sou_content ul li .forma_imaGes {
            width: 16rem;
            height: 10rem;
            position: relative; }
            .content .box_search .sou_content ul li .forma_imaGes img {
              width: 100%;
              height: 100%; }
            .content .box_search .sou_content ul li .forma_imaGes p {
              font-size: 0.5rem;
              color: #FFFFFF;
              width: calc(29.5rem/2);
              height: calc(2.7rem/2);
              position: absolute;
              left: 50%;
              margin-left: -7.375rem;
              bottom: 1rem;
              line-height: 0.7rem;
              z-index: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical; }
          .content .box_search .sou_content ul li .forma_duce {
            width: 16rem; }
            .content .box_search .sou_content ul li .forma_duce .forma_duce_float {
              width: 16rem;
              zoom: 1; }
              .content .box_search .sou_content ul li .forma_duce .forma_duce_float:after {
                display: block;
                clear: both;
                content: ''; }
              .content .box_search .sou_content ul li .forma_duce .forma_duce_float h3 {
                margin-left: 0.55rem;
                margin-top: 0.5rem;
                float: left;
                font-size: 1rem;
                color: #1B1B1B;
                width: calc(13.1rem/2);
                height: calc(2.6rem/2);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical; }
              .content .box_search .sou_content ul li .forma_duce .forma_duce_float div {
                float: right;
                zoom: 1;
                margin-right: 0.6rem;
                margin-top: 0.9rem; }
                .content .box_search .sou_content ul li .forma_duce .forma_duce_float div:after {
                  display: block;
                  clear: both;
                  content: ''; }
                .content .box_search .sou_content ul li .forma_duce .forma_duce_float div a {
                  display: block;
                  float: left;
                  zoom: 1; }
                  .content .box_search .sou_content ul li .forma_duce .forma_duce_float div a:after {
                    display: block;
                    clear: both;
                    content: ''; }
                  .content .box_search .sou_content ul li .forma_duce .forma_duce_float div a img {
                    width: 0.8rem;
                    height: 0.75rem;
                    float: left;
                    margin-right: 0.2rem; }
                  .content .box_search .sou_content ul li .forma_duce .forma_duce_float div a span {
                    font-size: 0.5rem;
                    color: #333333;
                    float: left;
                    margin-right: 0.5rem; }
            .content .box_search .sou_content ul li .forma_duce p {
              margin-left: 0.55rem;
              font-size: 0.5rem;
              color: #949494;
              margin-top: 0.3rem;
              margin-right: 0.5rem; }
          .content .box_search .sou_content ul li.remo {
            display: none; }
      .content .box_search .sou_content .Load {
        width: 16rem;
        height: calc(3.2rem/2);
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 50; }
        .content .box_search .sou_content .Load img {
          display: none;
          width: 3.5rem;
          height: 0.8rem;
          margin: 0.5rem auto; }
      .content .box_search .sou_content .p_content {
        width: 16rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
        text-align: center;
        display: none;
        color: #000000;
        font-weight: bold; }
      .content .box_search .sou_content #Load_none {
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.56;
        background: #1B1B1B;
        text-align: center; }
        .content .box_search .sou_content #Load_none img {
          width: 4rem;
          height: 4rem;
          margin-top: 10rem; }
    .content .box_search .list_menu {
      width: calc(25rem/2);
      height: 100%;
      background: #FFFFFF;
      position: fixed;
      right: -12.5rem;
      top: 2.3rem;
      z-index: 900;
      overflow: scroll; }
      .content .box_search .list_menu .list_menu_tow {
        width: calc(25rem/2); }
        .content .box_search .list_menu .list_menu_tow .list_h3 {
          width: calc(16rem-0.85rem);
          height: calc(3.75rem/2);
          line-height: calc(3.75rem/2);
          zoom: 1;
          padding-left: calc(1.7rem/2);
          padding-right: calc(1.8rem/2); }
          .content .box_search .list_menu .list_menu_tow .list_h3:after {
            display: block;
            clear: both;
            content: ''; }
          .content .box_search .list_menu .list_menu_tow .list_h3 h3 {
            font-size: 0.8rem;
            color: #202121;
            float: left;
            font-weight: 600; }
          .content .box_search .list_menu .list_menu_tow .list_h3 span {
            font-size: 0.65rem;
            color: #699cee;
            float: right; }
        .content .box_search .list_menu .list_menu_tow ul {
          width: calc(25rem/2); }
          .content .box_search .list_menu .list_menu_tow ul li {
            width: calc(16rem-0.85rem);
            height: calc(3.75rem/2);
            line-height: calc(3.75rem/2);
            zoom: 1;
            padding-left: calc(1.7rem/2);
            padding-right: calc(1.8rem/2); }
            .content .box_search .list_menu .list_menu_tow ul li:after {
              display: block;
              clear: both;
              content: ''; }
            .content .box_search .list_menu .list_menu_tow ul li.type a {
              color: #6399ef; }
            .content .box_search .list_menu .list_menu_tow ul li.blue_reg a {
              color: #6399ef; }
            .content .box_search .list_menu .list_menu_tow ul li.blue_one_Title a {
              color: #6399ef; }
            .content .box_search .list_menu .list_menu_tow ul li span {
              font-size: 0.65rem;
              color: #699cee;
              float: right; }
              .content .box_search .list_menu .list_menu_tow ul li span img {
                width: calc(0.9rem/2);
                height: calc(1.3rem/2);
                margin-top: 0.5rem; }
            .content .box_search .list_menu .list_menu_tow ul li a {
              font-size: calc(1.2rem/2);
              color: #4e4e4e; }
    .content .box_search #list_menu_input {
      position: fixed;
      bottom: 0;
      right: -12.5rem;
      zoom: 1;
      z-index: 1000; }
      .content .box_search #list_menu_input:after {
        display: block;
        clear: both;
        content: ''; }
      .content .box_search #list_menu_input input {
        display: block;
        outline: none;
        border: none;
        -webkit-flex-grow: 1;
        background: #f5f6f8;
        width: calc(25rem/4);
        height: calc(3.7rem/2);
        float: left;
        color: #4283eb; }
        .content .box_search #list_menu_input input.inp {
          background: #4283eb;
          color: #FFFFFF; }
    .content .box_search .Two_Stage_Classification {
      width: calc(25rem/2);
      height: 100%;
      background: #FFFFFF;
      position: fixed;
      right: -12.5rem;
      top: 2.3rem;
      z-index: 910;
      overflow-y: scroll; }
      .content .box_search .Two_Stage_Classification .Two_Stage_Classification_scroll {
        width: calc(25rem/2);
        overflow: hidden; }
        .content .box_search .Two_Stage_Classification .Two_Stage_Classification_scroll h3 {
          font-size: calc(1.6rem/2);
          color: #000000;
          width: 100%;
          height: calc(4.3rem/2);
          line-height: calc(4.3rem/2);
          padding-left: calc(1.7rem/2);
          background: #f5f6f8; }
        .content .box_search .Two_Stage_Classification .Two_Stage_Classification_scroll ul {
          width: 100%; }
          .content .box_search .Two_Stage_Classification .Two_Stage_Classification_scroll ul li {
            width: 90%;
            padding-top: calc(1.8rem/2);
            font-size: calc(1.2rem/2);
            padding-left: calc(1.7rem/2); }
            .content .box_search .Two_Stage_Classification .Two_Stage_Classification_scroll ul li.blue_Tow_Title {
              color: #6399ef; }
    .content .box_search #cover_tow {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 905; }
    .content .box_search .Three_Stage_Classification {
      width: calc(25rem/2);
      height: 100%;
      background: #FFFFFF;
      position: fixed;
      right: -12.5rem;
      top: 2.3rem;
      z-index: 920;
      overflow-y: scroll; }
      .content .box_search .Three_Stage_Classification .Three_Stage_Classification_scroll {
        width: calc(25rem/2);
        overflow: hidden; }
        .content .box_search .Three_Stage_Classification .Three_Stage_Classification_scroll h3 {
          font-size: calc(1.6rem/2);
          color: #000000;
          width: 100%;
          height: calc(4.3rem/2);
          line-height: calc(4.3rem/2);
          padding-left: calc(1.7rem/2);
          background: #f5f6f8; }
        .content .box_search .Three_Stage_Classification .Three_Stage_Classification_scroll ul {
          width: 100%; }
          .content .box_search .Three_Stage_Classification .Three_Stage_Classification_scroll ul li {
            width: 90%;
            padding-top: calc(1.8rem/2);
            font-size: calc(1.2rem/2);
            padding-left: calc(1.7rem/2); }
            .content .box_search .Three_Stage_Classification .Three_Stage_Classification_scroll ul li.blue_Three_Title {
              color: #6399ef; }
    .content .box_search #cover_Three {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 915; }

#gong .menu {
  display: none;
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(9.7rem/2);
  z-index: 9; }
  #gong .menu a {
    display: block; }
#gong .Catalog {
  width: calc(25rem/2);
  height: 100%;
  background: #f5f6f8;
  position: fixed;
  right: -12.5rem;
  top: 2.3rem;
  z-index: 11; }
  #gong .Catalog h4 {
    font-size: calc(1.5rem/2);
    color: #1B1B1B;
    padding: 0.9rem 0.75rem; }
  #gong .Catalog ul {
    width: 100%; }
    #gong .Catalog ul li {
      width: 100%;
      height: 2rem;
      padding-left: 0.75rem; }
      #gong .Catalog ul li.li1 {
        background: #FFFFFF; }
        #gong .Catalog ul li.li1 a {
          color: #4283EB; }
      #gong .Catalog ul li a {
        line-height: 2rem;
        display: block;
        font-size: 0.6rem;
        color: #000000; }
#gong .Return {
  display: none;
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(9.7rem/2);
  z-index: 9; }
  #gong .Return a {
    display: block; }
#gong .add {
  width: calc(3.6rem/2);
  height: calc(3.4rem/2);
  position: fixed;
  right: calc(2rem/2);
  bottom: calc(5.7rem/2);
  z-index: 9; }
  #gong .add a {
    display: block; }
#gong .cover {
  display: none;
  width: 16rem;
  height: 50rem;
  opacity: 0.56;
  background: #1B1B1B;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; }

.paging {
  display: none;
  width: 3rem;
  height: 1rem;
  border-radius: 1rem;
  text-align: center;
  line-height: 1rem;
  background: rgba(177, 177, 188, 0.5);
  position: fixed;
  left: 50%;
  margin-left: -1.5rem;
  bottom: 1rem; }
  .paging span {
    font-size: 0.8rem;
    margin-left: 0.2rem;
    color: #FFFFFF;
    font-weight: 100; }
    .paging span:nth-child(1) {
      margin-left: 0; }

/*# sourceMappingURL=search.css.map */
